.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  text-align: center;
  width: 300px;

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 200px;
}

.input {
  width: 100%;
}

.error_input{
  width: 100%;
  border: 1px solid red;
}

.btn{
  width: 50%;
  margin-top: 10px;
}

.error{
  color: red;
}


.remember{
  display: flex;
  margin-top: 5px;
  justify-content:space-around;
  align-items:center;
  width: 80%;
}